<div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">

        <h1>New cocktail</h1>

    <div>
      <%= simple_form_for(@cocktail) do |f| %>
        <% if @cocktail.errors.any? %>
          <div class="errors-container">
            <ul>
              <% @cocktail.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

      <%= f.input :name %>
      <%= f.submit "Submit", class: "btn btn-primary" %>



        <% end %>
      </div>


      </div>
    </div>
  </div>
